*{
    width: 98%;
    margin: auto;
    padding: 0%;
    background-color: black;
}


#top{
    width: 100%;
    height: 600px;
    margin-top: 0%;
    position: relative;
    display: inline-block;  
    border :2px solid orange;
}

#h1{
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px white;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 4%;
    margin-left: 1.2%;
    background-color: transparent;
}

#fondo{
    width: 100%;
    height: 700px;
    border: 2px solid white
}

#main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: transparent;
    margin-top: 30%;
}

#main a{
    border: 2px solid black;
    text-decoration: none;
    padding: 2%;
    width: 10%;
    border-radius: 10px;
    color: yellow;
    -webkit-text-stroke: 1px black;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

a:hover{
    cursor:pointer;
    transform:scale(1.2);
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

h2{
    color: white;
    font-size: 30px;
}

#Figure{
    width: 25%;
    padding: 5px;
    border: white solid 4px;
    -webkit-text-stroke: 2px black;
    background-color: white;
    color: white;
    font-size: 18px;
    margin-left:5%;
}

#Content{
    visibility: hidden;
    margin-bottom: 5%;
}

#Title{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

#Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    border: 2px solid rgb(48, 48, 48);
    height: 500px; 
    background: white;
}

#Area,#Perimeter{
    display: flex;
    flex-direction: column;
    background: white;
}

#ImgResult{
    width: 60%;
    height: 145px;
    margin: auto;
}

#ResultImg{
    width: 100%;
    height: auto;
    border: 3px solid black;
}

#AreaBtn,#PerimeterBtn{
    background: white;
}

#btnArea{
    background-color: white;
    padding: 20px;
    width: 40%;
    margin-left: 35%;
    margin-bottom: 15%;
    border: 5px solid rgb(41, 41, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

#btnPerimeter{
    background-color: white;
    padding: 20px;
    width: 40%;
    margin-left: 35%;
    margin-bottom: 40%;
    border: 5px solid rgb(41, 41, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

#divResult{
    width: 80%;
    height: auto;
    display:block;
    background: white;
    position: relative;
    text-align: center;
}

#ResultText{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

/* FOOTER*/

#footerdiv{
    width: 98%;
    margin: auto;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

h6{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#left{
    text-align: initial;
    width: 30%;
}

#right{
    text-align: end;
    width: 70%;
}

.button{
    width: 50%;
    height: auto;
    border: none;
}

.button img{
    width: 5%;
    height: 45px;
}